################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/SpiceSharpNotepad/bin
/src/SpiceSharpNotepad
/src/.vs/SpiceSharpNotepad/v17
